TicketCrawler.Worker/Service References/TicketCrawlerServer/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/TicketCrawler.Core.Event" />
  <xs:element name="RegisterWorker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="workerEndpointUrl" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TicketCrawler.Core.Event" minOccurs="0" name="request" nillable="true" type="q1:EventRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessResponseFromWorker">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TicketCrawler.Core.Event" minOccurs="0" name="response" nillable="true" type="q2:EventResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>